 *{
    margin: 0%;
    padding: 0%;
}
@font-face {
  font-family: 'Qanelas';
  src: url('fonts/Qanelas/Qanelas-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Qanelas';
  src: url('fonts/Qanelas/Qanelas-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
 body {
  font-family: 'Qanelas', sans-serif;
  margin: 0;
  height: 100vh;
  background: 
    linear-gradient(
      to bottom,
      rgba(10, 10, 20, 0.9) 0%,   /* верх тёмный */
      rgba(10, 10, 20, 0.7) 40%,  /* середина чуть светлее */
      rgba(10, 10, 20, 0.9) 100%  /* низ снова тёмный */
    ),
    url('./img/7a188e130f7ceb74f39c8622dfb623220e93a372.png') center/cover no-repeat;
  background-attachment: fixed; /* эффект глубины при прокрутке */
  overflow-x: hidden;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: calc(1.4vw + 1.8px  );
    background-color: transparent;
     z-index: 10;
     position: fixed;
}

.header_mobile {
    display: none;
}



.logo {
    width: calc(1.18vw + 87px);
    height: calc(6.12vw + 11.4px);
}

.nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
}

a { 
    text-decoration: none;
    color: #FFFFFF;
    transition: color 1s;
    
    font-weight: 700;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;

}

a:hover {
    color: #FFFFFF;
}

.auth-register-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.search {
    display: block;
    width: 60px;
    height: 52px;
}
.search_2{
    display: none;
}

.auth-register-btn button {
    width: calc(4.5vw + 51.6px);
    height: calc(1.6vw + 21.8px);
    border-radius: calc(0.31vw + 4px);
    background: #3657CB;
    color: #FFFFFF;
    box-shadow: 0px 0px 15px 0px #4871FFCC;
    border: none;
    font-weight: 700;
    font-size: calc(0.31vw + 10px);
}

.logo:hover {
    cursor: pointer;
}

.search:hover {
    cursor: pointer;
}

.auth-register-btn button:hover {
    cursor: pointer;
}

    .burger_menu {
        display: none;
    }

 @media (max-width:772px) {
    header {
        margin-top: 11px;
        gap: 10px;
    }
    nav {
        display: none;
    }

    .search {
        display: none;
    }

    #search {
        display: block;
    }

    .burger_menu {
        display: block;
        outline: 2px solid red;
    }
    .menu_search{
        display: flex;
        flex-direction: row;
        gap: 3px;
    }
    .search_2 {
    display: block;
    width: 17px ;
    height: 17px ;
}

 .burger_menu {
    width: 17px;
    height: 17px;
 }
}



 
 .kino {
    display: flex;
 }
.new{
    display: flex;
    margin-top: calc(3.6vw + 71px);
    margin-left: calc(17.9vw - 1px);
    gap: 232px;
}
 h1 {
    font-family: 'Qanelas' , sans-serif;
    font-weight: 900;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
}
.nav_2 ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 33px;
    margin-top: 10px;
}